<!DOCTYPE html>
<html>

<head>
    <title>CMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>

<body>
    <div class="container">
        <div class="card border-primary">
            <div class="card bg-primary text-white">
                <div class="card-header"><span class="fas fa-bookmark"></span>  <strong>Welcome to Dashboard</strong></div>
            </div>
            <div class="card-body">
                    <a href="http://localhost:3000/line" class="btn btn-danger" style="width:100%; margin-bottom:5px">
                        <span class="fas fa-signal"></span>
                        <div><strong>Line</strong></div>
                      </a>
                      <a href="http://localhost:3000/pie" class="btn btn-warning white" style="width:100%; margin-bottom:5px">
                        <span class="fas fa-compact-disc" style='font-size:24px;color:white'></span>
                        <div class="text-white"><strong>Pie</strong></div>
                      </a>
                      <a href="http://localhost:3000/bar" class="btn btn-primary" style="width:100%; margin-bottom:5px">
                        <span class="fas fa-poll" style='font-size:24px'></span>
                        <div><strong>Bar</strong></div>
                      </a>
                      <a href="http://localhost:3000/mapsview" class="btn btn-success" style="width:100%; margin-bottom:5px">
                        <span class="fas fa-globe-americas" style='font-size:24px'></span>
                        <div><strong>Maps</strong></div>
                      </a>
                      <a href="http://localhost:3000/login" class="btn btn-info" style="width:100%; margin-bottom:5px">
                        <div class="fas fa-user"></div>
                         <strong>Admin Panel</strong>
                      </a>

            </div>

        </div>
    </div>


</body>

</html>